<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <link rel="stylesheet" href="./dist/style.css">
</head>

<body>
    <nav>
        <%- include('./components/navigationBar') %>
    </nav>
    <div class="airbnbOptions" onclick="handleGoToPlace(_id)" onclick="location.href='place.ejs'">
        

            <% if (getplaces) { %>

                <% getplaces.forEach(place=> { %>
                    <div class="airbnbOptions__img">
                    <img src="<%- place.images %>"></img>
                    </div>
                    <div class="airbnbOptions__content">
                        <div class="airbnbOptions__content__namePlace">
                            <button class="btn"><img src="./images/icons-heart.png" alt=""></button>
                            <button class="btn btn-outline">
                                <%- place.name %>
                            </button>
                            <p>
                                <%- place.address_country_code %>, <%- place.address_country%>
                            </p>
                        </div>
                        <div class="airbnbOptions__content__description">
                            <p>
                                <%- place.description%>
                            </p>
                        </div>
                            <div class="airbnbOptions__content__priceRating">
                                    <button class="btn btn-outline">
                                        <%- place.price %>
                                    </button>
                                        <button class="btn btn-outline">
                                                <p>
                                                    <%- place.reviews_rating%>
                                                </p>
                                                
                                        </button>
                            </div> 
                        
                        </div>
                        <% }) %>
                            <% } %>
                   

    </div>

    <div class="bottomBar"> 
        <%- include('./components/bottomBar') %>
    </div>


    <script src="dist/index.js"></script>
</body>

</html>