<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="dist/style.css">
    <title>Document</title>
</head>

<body>

    <nav>
        <%- include('./components/navigationBar') %>
    </nav>

    <%# if ( placesId) { %>
        <!-- <h1><%#- placesId.name %></h1> -->
        <%# } %>


            <% if ( placesId) { %>
                <% placesId.forEach(place=> { %>
                    <div class="mainUpper">
                        <div class="maiUpper__title">
                            <h1>
                                <%- place.name %>
                            </h1>
                            <h3>
                                <%- place.price %>
                            </h3>
                        </div>
                        <div class="mainUpper__photoGrid">
                            <div class="mainUpper__photoGrid--bigPhoto"><img src="<%- place.images %>" alt=""></div>

                        </div>

                    </div>
                    <div class="mainMiddle">
                        <div class="mainMiddle__left">
                            <div class="mainMiddle__left--up">
                                <div class="mainMiddle__left--up--title">
                                    <h2>entire rental unit hosted by <%- place.host %>
                                    </h2>
                                    <h6>
                                        <%- place.accommadets %> <span>&#8226;</span> ${place.bedrooms}
                                            <span>&#8226;</span> ${place.beds}
                                            <span>&#8226;</span>${place.bathrooms}
                                    </h6>
                                </div>
                            </div>
                            <div class="mainMiddle__left--great">
                                <h5>
                                    <%- place.description %>
                                </h5>
                            </div>
                            <div class="mainMiddle__left--bed">
                                <h2>where you'll sleep</h2>
                                <div class="mainMiddle__left--bed--box">
                                    <i class="fa-thin fa-bed-front"></i>
                                    <h5>
                                        <%- place.bed_type %>
                                    </h5>
                                </div>
                            </div>
                            <div class="mainMiddle__left--list">
                                <h2>what this place offers</h2>
                                <ul>

                                    <%- place.amenities %>
                                </ul>

                            </div>
                            <div class="mainMiddle__left--date">
                                <input type="date" id="birthday" name="birthday">
                            </div>
                        </div>

                    </div>
                    <div class="reviews">
                        <h3>review</h3>
                        <div class="reviews__review">

                            <%- place.reviews %>
                        </div>
                        <div class="reviews__review">
                            <%- place.ireviews %>
                        </div>
                        <div class="reviews__review">
                            <%- place.reviews %>
                        </div>
                        <div class="reviews__review">
                            <%- place.revies %>
                        </div>
                    </div>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26081603.294420466!2d-95.677068!3d37.06250000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1siw!2s!4v1648657793371!5m2!1siw!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="aboutHost">
                        <div class="aboutHost--left">

                            <div class="aboutHost--left--title">
                                <h2>
                                    hosted by: <%- place.host %>
                                </h2>
                            </div>
                            <div class="aboutHost--left--review">
                                <p><span><i class="fa-solid fa-star"></i></span>${<%- place.number_of_reviews %>
                                        reviews</p>
                            </div>
                        </div>
                        <div class="aboutHost--right">
                            <h5>
                                languages: english, francais, hebrew
                            </h5>
                            <h5>
                                response rate: <%- place.reviews_rating %>
                            </h5>
                            <p class="payment">
                                To protect your payment, never transfer money or communicate outside of the Airbnb
                                website or app.
                            </p>
                        </div>
                    </div>
                    <div class="toKnow">
                        <h2>things to know</h2>
                        <ul>
                            <p>house rule</p>
                            <li>
                                Check-in: 4:00 PM - 10:00 PM
                            </li>
                            <li>
                                Checkout: 11:00 AM
                            </li>
                            <li>
                                No smoking
                            </li>
                            <li>
                                No pets
                            </li>
                            <li>
                                No parties or events
                            </li>
                            <button>shoe more</button>
                        </ul>
                        <ul>
                            <p>health &safety</p>
                            <li>
                                Airbnb's social-distancing and other COVID-19-related guidelines apply
                            </li>
                            <li>

                                Carbon monoxide alarm not reported Show more
                            </li>
                            <li>
                                Smoke alarm not reported Show more
                            </li>
                            <li>
                                Security Deposit - if you damage the home, you may be charged up to ₪2500
                            </li>
                            <button>show more</button>
                        </ul>
                        <div class="toKnow__cancle">
                            <h5>cancellation policy</h5>
                            <p>
                                <%- place.cancle %>
                            </p>
                        </div>

                    </div>
                    <% }) %>
                        <% } %>

                            <div class="bottomBar">
                                <%- include('./components/bottomBar') %>
                            </div>
                            <p class="airbnbRights">© 2022 Airbnb, Inc.Privacy·Terms·Sitemap</p>


                            <div id="map"></div>
                            <script src="dist/index.js"></script>
                            <script
                                src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&v=weekly"
                                async></script>
</body>

</html>